<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Login</title>

  <link rel="stylesheet" th:href="@{/plugin/node_modules/bootstrap/dist/css/bootstrap.min.css}">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mt-5">
        <div class="card">
          <div class="card-body">
            <h2 class="text-center mt-0 mb-4">Login Page</h2>
            <form th:action="@{/login}" method="post" autocomplete="off">
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="*******">
              </div>
              <div class="from-group">
                <button class="btn btn-primary btn-block" type="submit">Login</button>
              </div>
              <a th:href="@{/registration}">registration</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascirpt" th:src="@{/plugin/node_modules/jquery/dist/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/plugin/node_modules/@popperjs/core/dist/umd/popper.min.js}"></script>
  <script type="text/javascript" th:src="@{/plugin/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
<!--  <script th:src="${#httpServletRequest.scheme}+'://'+${#httpServletRequest.serverName}+':'+${#httpServletRequest.serverPort}+@{/plugin/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>-->
</body>
</html>