<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymelaf.org">
<head>
  <meta charset="UTF-8">
  <title>Registration</title>
  <link rel="stylesheet" th:href="@{/plugin/node_modules/bootstrap/dist/css/bootstrap.min.css}">
</head>
<body>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mt-5">
          <div class="card-body">
            <h2 class="text-center mt-0 mb-4">Registration</h2>
            <div th:switch="${status}">
              <div th:case="'success'" class="alert alert-success">
                <span th:text="${message}"></span>
              </div>
              <div th:case="'failed'" class="alert alert-danger">
                <span th:text="${message}"></span>
              </div>
            </div>
            <form th:action="@{/registration}" method="post" autocomplete="off">
              <div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Name">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="username" placeholder="Username">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="password" placeholder="Password">
              </div>
              <div class="form-group">
                <input type="password" class="form-control" name="re-password" placeholder="Confrim Password">
              </div>
              <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">Register</button>
              </div>
              <a th:href="@{/login}">Login</a>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" th:src="@{/plugins/node_modules/jquery/dist/jquery.min.js}"></script>
  <script type="text/javascript" th:scr="@{/plugins/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
</body>
</html>